
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    background-color:darkcyan;

  }
  

  
  td {
    text-align: center;
  }


  tr:first-child td {
    background-color: grey;
  }

  tr:nth-child(even) td {
    background-color:cyan;
  }
  
  tr:nth-child(odd) td {
    background-color: white;
  }
  
  caption {
    padding: 10px;
  }

html {
        font-family: sans-serif;
      }

      body {
        margin: 0 auto;
        max-width: 1024px;
      }

      main {
        padding: 20px;
      }

      header, footer {
        background: cyan;
        padding: 20px;
        border: 1px solid black;
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      form {
        font-size: 0.8rem;
      }

      .personal-greeting {
        font-weight: bold;
      }
    
