html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    max-width: 800px;
  }
  
  header, footer {
    background-color: green;
    color: white;
    line-height: 100px;
    padding: 0 20px;
  }
  
  .new-note, .note-display {
    padding: 20px;
  }
  
  .new-note {
    background: #ddd;
  }
  
  h1 {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  div {
    margin-bottom: 10px;
  }
  td, th {
      border: 1px solid rgb(190,190,190);
      padding: 10px 20px;
      background-color:palegreen;
  
    }
    
  
    
    td {
      text-align: center;
    }
    
    tr:nth-child(even) td {
      background-color: palegreen;
    }
    
    tr:nth-child(odd) td {
      background-color: white;
    }
    tr:first-child td {
      background-color: teal;
      color: white;
      font-weight: 150;
      
    }
    tr:hover td{
      background-color: rgb(255, 255, 143);
      color: black;
    }